.backgroundImage {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_largetall.jpg");
    background-position: center;
    background-repeat: no-repeat;
}